<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXBs7MKPRCp95ZR4JkY-luo2FbN0x4GOc</string>
	<key>GCM_SENDER_ID</key>
	<string>572375480308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.a1Fakenews</string>
	<key>PROJECT_ID</key>
	<string>upeinews-app</string>
	<key>STORAGE_BUCKET</key>
	<string>upeinews-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572375480308:ios:99dde40af0d8173fbaeba1</string>
</dict>
</plist>